<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tekscore">

    <title>Tekscore</title>

    <!-- Custom fonts for this template-->
    {% block css %}{% endblock %}
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Assets/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='Assets/logo-icon.png') }}" type="image/png">
    

    {% block extraheaderlinks %}{% endblock %}
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" class="sidebar-wrapper">

        <!-- Sidebar -->
        <nav class="sidebar" id="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <!-- T Logo (shown when collapsed) -->
                <div class="sidebar-t-logo" id="sidebarTLogo">
                    <span class="logo-t-box sidebar-t-only">T</span>
                </div>
                <!-- Menu Title (shown when expanded) -->
                <div class="brand-section" id="brandSection">
                    <span class="sidebar-menu-title">Menu</span>
                </div>
                <button class="close-button" id="closeButton" aria-label="Close sidebar" style="display: none;">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <!-- Navigation Sections -->
            <div class="nav-sections">
                <!-- Main Navigation -->
                <div class="nav-section">
                    <ul class="nav-links">
                        <li class="{% if request.endpoint == 'jscore.index' %}active{% endif %}">
                            <a href="{{ url_for('jscore.index') }}" class="nav-link">
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="{% if request.endpoint == 'jscore.credithistory' %}active{% endif %}">
                            <a href="{{ url_for('jscore.credithistory') }}" class="nav-link">
                                <i class="fas fa-history"></i>
                                <span>Credit History</span>
                            </a>
                        </li>
                        <li class="{% if request.endpoint == 'jscore.changepassword' %}active{% endif %}">
                            <a href="{{ url_for('jscore.changepassword') }}" class="nav-link">
                                <i class="fas fa-key"></i>
                                <span>Change Password</span>
                            </a>
                        </li>
                        <li class="{% if request.endpoint == 'jscore.show_help_page' %}active{% endif %}">
                            <a href="{{ url_for('jscore.show_help_page') }}" class="nav-link">
                                <i class="fas fa-question-circle"></i>
                                <span>Help</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sidebar Footer - Help Icon -->
            <div class="sidebar-footer">
                <button class="help-icon-button" type="button" aria-label="Contact support or view documentation" title="Need help? Reach out to support or view documentation.">
                    <i class="fas fa-question help-icon"></i>
                </button>
            </div>
        </nav>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="sidebar-content-wrapper">
            <!-- Main Content -->
            <div id="content" class="sidebar-main-content">
                <!-- Page Header -->
                <div class="content-header">
                    <div class="content-header-left">
                        {% if page_title == 'Dashboard' %}
                        <div class="content-title-logo">
                            <span class="inline-tekscore-logo header-tekscore-logo">
                                <span class="logo-t-box">T</span>
                                <span class="logo-ek">EK</span>
                                <span class="logo-score">SCORE</span>
                            </span>
                        </div>
                        {% else %}
                        <h1 class="content-title">{{ page_title }}</h1>
                        {% endif %}
                    </div>
                    <div class="content-header-right">
                        <div class="header-account-menu">
                            <a href="{{ url_for('jscore.myaccount') }}" class="header-account-link {% if request.endpoint == 'jscore.myaccount' %}active{% endif %}" title="My Account">
                                <i class="fas fa-user-circle"></i>
                                <span>My Account</span>
                            </a>
                            <a href="{{ url_for('user.logout') }}" class="header-account-link" title="Logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </div>

                {% block content %}{% endblock %}
            </div>
            <!-- End of Main Content -->







        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    
            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutModalLabel" style="color: brown;">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal" >Cancel</button>
                            <a class="btn btn-dark" href="{{ url_for('user.logout') }}" >Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Bootstrap core JavaScript-->
            <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    
            <!-- Core plugin JavaScript-->
            <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    
            <!-- Custom scripts for all pages-->
            <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
            <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>
            <script src="{{ url_for('static', filename='js/charts/chart2.js')}}"></script>
            <script src="{{ url_for('static', filename='js/charts/pieAverage.js')}}"></script>



            {% block script %}{% endblock %}
            <!-- <script>
                {% if api_data %}
                    var apiData = {{ api_data | tojson | safe }};
                    var mobileNumber = {{ mobile_number }}; // Ensure this is a string
                    var score = parseInt(apiData.score);
                {% else %}
                    var apiData = null;
                    var mobileNumber = "NA"; // Provide a default value
                    var score = null;
                {% endif %}
            </script> -->
            <script src="{{ url_for('static', filename='js/charts/chart-pie-demo.js') }}"></script>
            <script src="{{ url_for('static', filename='js/charts/chart-area-demo.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dashboard-sidebar.js') }}"></script>

        </div>
    </body>

    
    </html>