{% extends 'base.html' %} {% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Flash Messages -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <!-- Page Heading -->
                    <div class="form-group d-flex align-items-center justify-content-start">
                        <form action="{{ url_for('jscore.index') }}" method="POST" class="form-group d-flex align-items-center justify-content-start flex-wrap flex-sm-nowrap">
                            <label for="mobile_number" class="align-items-center my-3 mr-2 d-none d-sm-inline-block" style="font-weight: bold; color: black; font-size: 0.875rem;">Mobile Number</label>
                            <input type="text" name="mobile_number" class="form-control mx-sm-2 mb-2 mb-sm-0" id="mobile_number" placeholder="923XXXXXXXX" value="{{ mobile_number }}"   style="width: auto; font-size: 0.875rem; color: black; margin-bottom: 0rem !important" required>
                            <input type="submit" value="Submit" class="btn btn-dark ml-2 ml-sm-0" style="font-size: 0.875rem; padding: 5px 10px;">
                        </form>
                    </div>
                    
                    

                    <!-- Content Row -->
                    <div class="row">
                        <!-- SIM AGE Card -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-thin fa-sim-card fa-2x text-gray-300"></i>
                                            <div class="text-xs mb-0 font-weight-bold text-gray-800">SIM AGE</div>
                                        </div>
                                        <div class="col mr-6 px-4">
                                            <div class="h5 font-weight-bold text-gray-800 text-uppercase mb-1">{{ sim_age }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- New Third Card -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-regular fa-bookmark fa-2x text-gray-300"></i>
                                            <div class="text-xs mb-0 font-weight-bold text-gray-800">SIM INFO</div>
                                        </div>
                                        <div class="col mr-6 px-4">
                                            <div class="h5 font-weight-bold text-gray-800 text-uppercase mb-1">{{ sim_info }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Credit History Card -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <a href="{{ url_for('jscore.credithistory') }}" style="text-decoration: none;">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-history fa-2x text-gray-300"></i>
                                            <div class="text-xs mb-0 font-weight-bold text-gray-800">HISTORY</div>
                                        </div>
                                        <div class="col mr-6 px-4">
                                            <div class="h5 font-weight-bold text-gray-800 text-uppercase mb-1">View Jscore History</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chevron-right fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    
                        
                    </div>
                    
                    <!-- End Content Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                               
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"> </canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <div id="scoreCircle" style="color: white; padding: 10px 20px; border-radius: 10px; display: inline-block;">
                                              
                                            </div>
                                        </span>
                                        <span class="d-block"><b>Updated:</b> July 26, 2024</span>
                                        <span class="d-block"><b>Next Update:</b> August 26, 2024</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4" style="padding-top: 50px; padding-bottom: 50px;"> <!-- Increase padding for a larger box -->
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Text Column -->
                                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                                            <div class="d-flex flex-column">
                                                <!-- Icon -->
                                                <i class="fas fa-icons fa-2x mb-3 fa-tachometer-alt" style="color: rgb(18, 18, 18);"></i>
                        
                                                <!-- First Text -->
                                                <h4 class="mb-1" style="color: rgb(18, 18, 18); font-size: 1.5rem;">Understand JScore</h4>
                        
                                                <!-- Second Text -->
                                                <p style="font-size: 1rem; color: rgb(18, 18, 18);">Helps you interpret and gain a deeper understanding of JScore</p>
                                            </div>
                                        </div>
                        
                                        <!-- Image Column -->
                                        <div class="col-md-6 text-center position-relative">
                                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="max-width: 100%;" src="{{ url_for('static', filename='img/bands4.png') }}" alt="Bands">
                                            <span class="tooltip">
                                                <b>High risk:</b> Lacks sufficient or has adverse information predicting financial reliability.
                                                <br><b>Challenges:</b> Potential for financial repayment difficulties.
                                                <br><b>Generally reliable:</b> Occasional indicators of financial risk.
                                                <br><b>Positive information:</b> Indicates reliability for financial commitments.
                                                <br><b>Outstanding insights:</b> Strong predictor of financial reliabilit.
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!-- Pie Chart -->
                        
                    </div>
                </div>
                <!-- End of Main Content -->
                  <!-- Footer -->
{% endblock %}



{% block script %}
<script>
    {% if api_data %}
        var apiData = {{ api_data | tojson | safe }};
        var mobileNumber = {{ mobile_number }}; // Ensure this is a string
        var score = parseInt(apiData.score);
    {% else %}
        var apiData = null;
        var mobileNumber = "NA"; // Provide a default value
        var score = null;
    {% endif %}
    
</script>

{% endblock %}
