{% extends 'base.html' %}
{% block content %}

<div class="container-fluid" style="margin-bottom: 10%;">
    <div class="row justify-content-center">
        <!-- Sidebar with links -->
        <div class="col-md-3">
            <div class="card">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" style="background-color: lightgray; border-color: lightgray; color: black;">Profile</a>
                    <a href="#" class="list-group-item list-group-item-action">Privacy & Safety</a>
                    <a href="#" class="list-group-item list-group-item-action">Integrations</a>
                    <a href="#" class="list-group-item list-group-item-action">Notifications</a>
                    <a href="#" class="list-group-item list-group-item-action">Advanced</a>
                </div>
            </div>
        </div>

        <!-- Profile form -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Profile</h4>

                    <!-- Username field -->
                    <div class="form-group">
                        <label for="username" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="username" value="Moqups" readonly>
                    </div>

                    <!-- Email field -->
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" value="contact@moqups.com" readonly>
                    </div>

                    <!-- Role field -->
                    <div class="form-group">
                        <label for="role" class="col-form-label">Role</label>
                        <input type="text" class="form-control" id="role" value="Product Manager" readonly>
                    </div>

                    <!-- Change password button -->
                    <div class="form-group">
                        <button class="btn btn-dark btn-block">UPDATE</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
