{% extends 'base.html' %} 
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="form-group d-flex align-items-center justify-content-end">
        <form action="#" method="POST" class="form-group d-flex align-items-center justify-content-start flex-wrap flex-sm-nowrap">
            <div class="position-relative">
                <input type="text" name="mobile_number" class="form-control mx-sm-2 mb-2 mb-sm-0" id="mobile_number" placeholder="Search" value="{{ mobile_number }}" style="width: 150px; font-size: 0.875rem; padding-left: 30px;" required>
                <i class="fas fa-search position-absolute" style="left: 15px; top: 50%; transform: translateY(-50%); font-size: 0.875rem; color: #aaa;"></i>
            </div>
            <input type="submit" value="Submit" class="btn btn-dark ml-2 ml-sm-0" style="font-size: 0.875rem; padding: 5px 10px;">
        </form>
    </div>
    

    <!-- Content Row -->
    <div class="row justify-content-center">

        <!-- First Card (J-SCORE) -->
        <div class="col-xl-3 col-md-4 mb-4 mx-2">
            <div class="card shadow h-100 text-center">
                <img src="{{ url_for('static', filename='Assets/logo.png') }}" class="card-img-top mx-auto mt-3" alt="Jazz Logo" style="max-width: 50%; height: auto;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title font-weight-bold text-uppercase">JScore</h5>
                    <p class="card-text">Alternate way of measuring credit worthiness of customer</p>
                    <div class="mt-auto">
                        <a href="{{ url_for('jscore.index') }}" class="btn btn-dark">Check Score</a>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Second Card (Income Score) -->
        <div class="col-xl-3 col-md-4 mb-4 mx-2">
            <div class="card shadow h-100 text-center">
                <img src="{{ url_for('static', filename='Assets/logo.png') }}" class="card-img-top mx-auto mt-3" alt="Jazz Logo" style="max-width: 50%; height: auto;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title font-weight-bold text-uppercase">Income Score</h5>
                    <p class="card-text">Measuring the income score of customer</p>
                    <div class="mt-auto">
                        <a href="#" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Third Card (Fraud Score) -->
        <div class="col-xl-3 col-md-4 mb-4 mx-2">
            <div class="card shadow h-100 text-center">
                <img src="{{ url_for('static', filename='Assets/logo.png') }}" class="card-img-top mx-auto mt-3" alt="Jazz Logo" style="max-width: 50%; height: auto;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title font-weight-bold text-uppercase">Fraud Score</h5>
                    <p class="card-text">Measuring the fraud flags score of customer</p>
                    <div class="mt-auto">
                        <a href="#" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Fourth Card (Address Verification) -->
        <div class="col-xl-3 col-md-4 mb-4 mx-2">
            <div class="card shadow h-100 text-center">
                <img src="{{ url_for('static', filename='Assets/logo.png') }}" class="card-img-top mx-auto mt-3" alt="Jazz Logo" style="max-width: 50%; height: auto;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title font-weight-bold text-uppercase">Address Verification</h5>
                    <p class="card-text">Get the address verified of customer</p>
                    <div class="mt-auto">
                        <a href="#" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Fifth Card (KYC Check) -->
        <div class="col-xl-3 col-md-4 mb-4 mx-2">
            <div class="card shadow h-100 text-center">
                <img src="{{ url_for('static', filename='Assets/logo.png') }}" class="card-img-top mx-auto mt-3" alt="Jazz Logo" style="max-width: 50%; height: auto;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title font-weight-bold text-uppercase">KYC Check</h5>
                    <p class="card-text">Complete a KYC Check for customer with us</p>
                    <div class="mt-auto">
                        <a href="#" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Sixth Card (Social Score) -->
        <div class="col-xl-3 col-md-4 mb-4 mx-2">
            <div class="card shadow h-100 text-center">
                <img src="{{ url_for('static', filename='Assets/logo.png') }}" class="card-img-top mx-auto mt-3" alt="Jazz Logo" style="max-width: 50%; height: auto;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title font-weight-bold text-uppercase">Social Score</h5>
                    <p class="card-text">Measuring the social footprint of customer</p>
                    <div class="mt-auto">
                        <a href="#" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <!-- End Content Row -->

</div>
<!-- End of Main Content -->

{% endblock %}
