<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>500 - Internal Server Error</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Assets/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='Assets/logo-icon.png') }}" type="image/png">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>
<body id="page-top">
    <div id="wrapper">

        <div id="content-wrapper" class="d-flex flex-column min-vh-100">

            <!-- Main Content -->
            <div id="content" class="d-flex justify-content-center align-items-center flex-grow-1">
                <div class="container-fluid text-center">
                    
                    <!-- 500 Error Text -->
                    <div>
                        <h1>Internal Server Error</h1>
                        <div class="error mx-auto" data-text="500">500</div>
                        <p class="lead text-gray-800 mb-5">Something went wrong on our end</p>
                        <p class="text-gray-500 mb-4">We're sorry, but an unexpected error occurred. Our team has been notified and is working to resolve the issue.</p>
                        <p class="text-gray-500 mb-4">Please try again in a few moments. If the problem persists, please contact support.</p>
                        <div class="mt-4">
                            <a href="{{ url_for('landing.index') }}" class="btn btn-primary mr-2">Go to Home</a>
                            <a href="{{ url_for('user.show_login') }}" class="btn btn-secondary">Back to Login</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white mt-auto">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Tekscore <span id="year"></span></span>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>

</body>

</html>
